<div class="centered-container">
    <div class="centered-form-field">
        <mat-form-field class="search-input">
            <input matInput [(ngModel)]="searchText" placeholder="Pesquisar">
            <button mat-icon-button matSuffix aria-label="Pesquisar" (click)="onSearch()">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div>
        <mat-progress-bar mode="indeterminate" class="search-progress" *ngIf="showProgressBar"></mat-progress-bar>
    </div>
</div>