.centered-form-field {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.search-input {
    border-radius: 50px;
    width: 900px;
}

.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.search-progress {
    width: 900px;
    margin-top: 8%;
}